<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
  <div class="container info">
    <div class="title-image container-fluid">
      <div class="row align-items-center">
        <div class="">
            <img class="rounded-circle" src="/assets/hbr_logo.png" alt="{{site.title}}">
        </div>
        <div class="">
          <h1>{{site.title}}</h1>
          <h2>{{site.bio}}</h2>
        </div>
      </div>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="container navbar-nav mr-auto">
      <li class="nav-item {% if page.title == 'Home' %} active {% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {% if page.title == 'Blog' %} active {% endif %}">
        <a class="nav-link" href="/blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.title == 'Progetti' %} active {% endif %}" href="/progetti/">Progetti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.title == 'About' %} active {% endif %}" href="/about/">About</a>
      </li>
    </ul>
  </div>
</nav>
