
<div class="container left-info">
<div class="row justify-content-md-center">
  <div class="col">
    <img src="/assets/hbr_logo.png" alt="" class="img-fluid d-none d-lg-block">
    <ul class="soc">
      <li><a class="soc" href="https://twitter.com/HotBlackRobot"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a class="soc" href="https://www.facebook.com/hotblackrobotics"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a class="soc" href="https://www.youtube.com/channel/UCiZCsOJbWIFCY8x6XrYSgoQ"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      <li><a class="soc" href="https://www.linkedin.com/company/hotblack-robotics"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>

<div class="row justify-content-md-center" style="color:white">
  <div class="col">
    {{ site.name }} © {{ site.time | date: '%Y' }}
  </div>
</div>

<div class="row justify-content-md-center" style="color:white">
  <div class="col">
    <a role="button" href="http://cloud.hotblackrobotics.com/cloud/index" class="btn btn-default bnt-lg">Accedi in Piattaforma</a>
  </div>
</div>

<div class="row justify-content-md-center" style="color:white">
  <div class="col">
    <a href="//www.iubenda.com/privacy-policy/7882850" class="iubenda-black no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  </div>
</div>
