{% if site.mailchimp %}
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup_main">
		<form action="{{site.mailchimp.subscribe}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="form-group">
					<h1 for="mce-EMAIL">Newsletter</h1>
					<p>	Pubblico nuovi posti ogni settimana. Iscriviti qui per rimanere sempre aggiornato!
					</p>
					<div class="input-group mb-3">
						<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="La tua email" required>
						<div class="input-group-append">
							<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn">Registrati</button>
					  </div>
					</div>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    </div>
		</form>
	</div>
{% endif %}
