---
layout: page
---
<div class="post">
  <div class="content">
    {% if site.show-tags %}
      <div class="tags">
        <div class="list">
          {% for tag in page.tags %}
              <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <h1 class="title">{{ page.title }}</h1>
    <span class="date">
        Pubblicato il <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%m/%d/%Y" }}</time>
        {% if site.read-time %} - lettura in {% include read-time.html content=content%}{% endif %}
    </span>
  </div>


  {% if site.show-author %}
      {% include author.html class="top-author" %}
  {% endif %}

  {% include index-generator.html %}

  {% if page.image and page.headerImage %}
      <img src="{{ page.image }}" alt="{{ page.title }}">
  {% endif %}

    <div class="content">


    {{content}}

    {% include index-generator.html %}

  </div>

  {% if site.post-advance-links contains page.category %}
      <div class="blog-navigation">
          {% if page.previous.url %}
              <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
          {% else %}
              <a class="prev"></a>
          {% endif %}
          {% if page.next.url %}
              <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
          {% endif %}
      </div>
  {% endif %}

  {% if site.show-author %}
      {% include author.html %}
  {% endif %}

  {% if site.disqus.categories contains page.category %}
      {% include disqus.html %}
  {% endif %}
</div>
