.left-info
  color: #fff
  padding: 50px
  text-align: center

  .col
    padding-top: 40px

.author
  .share
    padding-top: 20px

.post
  padding: 60px !important
  img
    max-width: 100%
  a.card
    color: black
    text-decoration: none

  div.date
    padding-bottom: 20px
    font-style: italic

.soc
  padding: 0
  color: $hbr-main-color
  li
    display: inline-block
    padding: 10px
