.left-info
  color: #fff
  padding: 50px
  text-align: center

  .col
    padding-top: 40px

.post
  padding: 60px !important
  img
    max-width: 100%
  a.card
    color: black
    text-decoration: none

  div.date
    padding-bottom: 20px
    font-style: italic
