.main-img-row
  .col
    max-width: 10%
    margin: auto
    padding-bottom: 10px

.black-sec
  background-color: black
  a.btn-platform
    width: 100%
    margin: 20px 0
    background-color: black
    border-style: solid
    border-color: white

section
  .main
    text-align: center
    padding: 50px 0px

  .gray
    background-color: gray
